
:root {
  --menu-color-back: light-dark(#E4EDF6, #1A1A1A);
  --color-light: light-dark(#F3F7FC, #1F1F1F);
}


html, .k-header {
  background-color: light-dark(#F3F7FC, #1F1F1F);
}

.k-block-type-fields-form {
  background-color: light-dark(#F3F7FC, #1F1F1F);
}

.k-block-container:not(:last-of-type) {
  border-bottom-color: #999999;
  border-bottom-style: dotted;
}

.k-block-container[data-selected=true] {
  border-bottom-color: #00000000;
}

.k-label.k-section-label {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: 600;
}

.k-label.k-section-label .k-link {
  text-decoration: underline;
}

.k-tabs {
  margin-top: 8px;
}
.k-tabs a[data-has-text="true"] {
  font-size: 18px;
}
