{# @param page ?page #}

<footer class="max-w-(--breakpoint-xl) mx-auto mt-12 border-t border-slate-400 py-4 flex justify-between">
    <div>
        &copy; {{ now|date('Y') }} {{ site.copyright }}
    </div>
    {% if page is defined %}
        <div>
            {# We could check for a logged in user and permissions, but that won't work for cached pages #}
            <a class="text-sm text-slate-600" href="{{ page.cpEditUrl }}">{{ 'Edit'|t }}</a>
        </div>
    {% endif %}
</footer>

