<div class="flex space-x-4">
    <div class="w-12 h-12" style="background-color: {{ page.color1 }}"></div>
    <div class="w-12 h-12" style="background-color: {{ page.color2 }}"></div>
    <div class="w-12 h-12" style="background-color: {{ page.color3 }}"></div>
</div>