<blockquote class="border-l-4 border-slate-400 px-8 py-2">
    <div class="font-semibold font-serif text-lg  text-slate-600">
        {{ '“'|t }}{{ block.text|nl2br }}{{ '”'|t }}
    </div>
    {% if block.citation %}
        <cite class="block mt-4 text-lg text-prose italic">
            {{ block.citation }}
        </cite>
    {% endif %}
</blockquote>